html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #E63946; 
  color: #fff; 
}

button, a {
  transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    font-family: 'poppins', sans-serif;
    color: #0d1321;
    background: linear-gradient(180deg, #F1FAEE 0%, #E8F3F1 50%, #F1FAEE 100%) !important;
    line-height: 1.6;
    text-align: center;
}

.navbar {
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
}

.navbar.scrolled {
    transition: 0.1s;
    color: #1D3557;
    background-color: #F1FAEE;
    border-bottom: solid 0.05px #1D3557;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 600;
  display:block;
}

.navbar nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #1D3557;
  transition: width 0.2s ease;
}

.navbar nav ul li a:hover::after {
  width: 100%;
}

.logo {
    letter-spacing: -3px;
    border-bottom: none;
    color: #1D3557;
}

.navbar ul {
    list-style: none;
    display:flex;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    transition: 0.2s;
    color: #1D3557;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.navbar.scrolled ul li a {
    color: #1D3557;
}


ol {
    justify-content: center;
    gap: 25px;
    list-style: none;
}


